header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(255, 208, 0, 0.795);
    padding: 15px;
}

header a{
    text-decoration: none;
    color: black;
    text-align: end;
}

.vec1{
    display: flex;
    align-items: center;
    gap: 15px;
}

header img{
    margin: 0;
}

body{
    margin: 0;
}

main{
    padding: 16px;
    height: 670px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.síkryt{
    color: rgb(243, 243, 243);
    text-align: end;
}

#Homevec{
    padding: 2px;
}

#Loginvec{
    padding: 2px;
}

footer{
    padding: 16px;
    background-color: rgb(22, 27, 104);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.odkazy{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.dalsi-odkazy a{
    text-decoration: none;
    color: white;
}

.dalsi-odkazy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.texticek{
    color: white;
    display: flex;
    justify-content: center;
}

.carecka{
    color: white;
    display: flex;
    justify-content: center;
}